

.campoTexto {
    background-color: transparent;
    
    background-image: url('/imagens/lupa.png');
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 554px center;
    
    border: 2px, solid, transparent;
    
    border-image: linear-gradient(174.61deg,#C98CF1 0%, #7B78E5 100%);
    border-image-slice: 1;
    
    min-width: 602px;
    min-height: 56px;
    gap: 365px;

}


.campoTexto::placeholder{
    font-size: 20px;
    line-height: 20px;
    color: #D9D9D9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 16px;
}